<div id="challenge-tracker-wrapper">
    <canvas id="challenge-tracker-canvas-image" width=300 height=300></canvas>
    <canvas id="challenge-tracker-canvas" width=300 height=300></canvas>
    <canvas id="challenge-tracker-canvas-frame" width=300 height=300></canvas>
</div>