.challenge-tracker-app .window-content {
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    display: block;
}

#challenge-tracker-wrapper {
    position: relative;
    width: 300px;
    height: 300px;
}

#challenge-tracker-canvas,
#challenge-tracker-canvas-frame {
    position: absolute;
    top: 0px;
    left: 0px;
}

.challenge-tracker-app.windowless {
    background: unset;
    box-shadow: unset;
    border: none;
    display: block;
    min-width: unset;
}

.challenge-tracker-app.windowless .window-content {
    backdrop-filter: none;
    background: transparent;
}

.challenge-tracker-app.windowless .window-header {
    background: unset;
    border: none;
    height: 0;
    line-height: 1;
    overflow: visible;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 2px #00000040, 0px 0px 5px #000000;
    position: relative;
    visibility: hidden;
    top: 0;
}

.challenge-tracker-app.windowless button.header-control {
    position: absolute;
    right: 0;
    top: 0;
}

.challenge-tracker-app.windowless button.header-control:not(:hover) {
    background: var(--color-header-background);
    transition: 0s;
}

.challenge-tracker-app:not(.windowless) button.header-control[data-action="drag"] {
    display: none;
}

.challenge-tracker-app.windowless button.header-control[data-action="drag"] {
    top: calc(var(--button-size) + 0.25em);
}

.challenge-tracker-app.windowless button.header-control[data-action="drag"]:hover {
    cursor: grab;
}

.challenge-tracker-app.windowless button.header-control[data-action="show-hide"] {
    right: calc(var(--button-size) + 0.3em);
}

.challenge-tracker-app.windowless:hover > .window-header {
    visibility: visible;
    transition: visibility 0.2s ease-in;
    transition-delay: 1s;
}

.challenge-tracker-app.windowless:not(:hover) > .window-header {
    visibility: hidden;
    transition: visibility 0.2s ease-in;
    transition-delay: 0.1s;
    overflow: visible;
}

.challenge-tracker .window-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.challenge-tracker-app.windowless .window-title {
    background-color: var(--color-header-background);
    border-radius: 4px;
    line-height: 1;
    padding: 5px;
    position: absolute;
    top: 0px;
}

.challenge-tracker-app.windowless .window-header a {
    margin: 5px 5px 5px 0;
}

.challenge-tracker-player-list-placeholder {
    min-width: 18px;
}

.challenge-tracker-player-list-button {
    background: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
    align-self: center;
    min-width: 18px;
    cursor: pointer;
}

.challenge-tracker-player-list-button > svg {
    color: var(--color-text-light-highlight);
    width: auto;
    height: var(--font-size-18);
}

.challenge-tracker-player-list-button:hover,
.challenge-tracker-player-list-button:focus {
    overflow: visible;
    box-shadow: none;
    filter: drop-shadow(0px 0px 5px rgb(255 0 0 / 1));
}

#challenge-tracker-control-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0.1em;
}

.challenge-tracker-list-app {
    margin-top: 0;
}

.challenge-tracker-list-app .standard-form {
    height: 100%;
}

.challenge-tracker-list-app ul {
    padding: 0;
}

.challenge-tracker-list-app li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    list-style: none;
    padding: 5px 0;
}

.challenge-tracker-list-app > li:first-child {
    border: none;
    padding-top: 0;
}

.challenge-tracker-list-app-button-group {
    display: flex;
    justify-content: flex-start;
    gap: 1px;
    padding-top: 0.5em;
    height: 40px;
    display: flex;
}

.challenge-tracker-list-app-button-col-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 100%;
}

.challenge-tracker-list-app-button-col-group button {
    flex: 1;
}

.challenge-tracker-list-app-button-row-group {
    display: flex;
    gap: 2px;
}

.challenge-tracker-list-app-button-row-group button {
    flex: 1;
}

.challenge-tracker-list-app-button-box {
    border: 2px groove #eeede0;
    padding: 3px;
}

.challenge-tracker-button {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: unset;
}

.challenge-tracker-button:disabled {
    background-color: transparent;
    color: transparent;
    cursor: default;
    border: 1px solid var(--color-light-5);
}

.challenge-tracker-button.icon-with-text {
    width: 70px;
    flex: 1;
}

.challenge-tracker-button.icon-only {
    width: 30px;
    height: 20px;
    padding: 0;
    line-height: normal;
    flex: 1;
    min-height: 10px;
}

.challenge-tracker-button.icon-only > i {
    margin-right: 0;
}

.challenge-tracker-list-app-box {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.5em;
}

.challenge-tracker-list-app-box:first-child {
    border: 0;
    padding-top: 0;
}

.challenge-tracker-list-app-file-picker-group {
    display: flex;
}

.challenge-tracker-edit-app .standard-form {
    height: 100%;
}

.challenge-tracker-submit-button {
    margin: 0px;
    margin-top: 2px;
}

input[data-color-picker] {
    width: calc(100% - 2px);
    min-width: 20px;
    height: var(--form-field-height);
    background: rgba(0, 0, 0, 0.05);
    padding: 1px 3px;
    margin: 0;
    color: var(--color-text-dark-primary);
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    text-indent: 2em;
    line-height: inherit;
    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 3px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
